@page "/"

<h2 class="cover-heading">WELCOME</h2>
<p class="lead">
    Blazor/Solid File Browser is a basic sample showing how to access a
    <b>Solid Pod</b>
    from a
    <b><a href="https://blazor.net/" target="_blank">Blazor</a></b>
    application.
</p>
<p class="lead">
    You will need access to a Solid Pod (
    <b>
        <a href="https://solid.community/" target="_blank">Community</a>
        |
        <a href="https://solid.inrupt.com/" target="_blank">Inrupt</a>
    </b> ) to use this sample.
</p>
<div class="input-group mx-auto col-10">
    <div class="input-group-prepend">
        <span class="input-group-text">https://example.solid.community</span>
    </div>
    <input type="url" class="form-control" bind="@Webid"
           placeholder="WebID (or blank & allow pop-ups)" aria-label="WebID" aria-describedby="basic-addon2"
           autofocus="autofocus"
           autocomplete="on" />
    <div class="input-group-append">
        <button class="btn btn-primary" onclick="@DoLogin">LOGIN</button>
    </div>
</div>
@if (HasErrors)
{
    <p class="alert">
    @Errors
    </p>
}
@functions
{
  [Inject] IUriHelper UriHelper { get; set; }
  bool HasErrors;
  string Errors;
  bool IsLoggedIn;
  string Webid;
  protected override void OnInit()
  {
      SolidFileClient.LoginStateChanged += LoginChanged;
  }

  Task DoLogin()
  {
      return SolidFileClient.Login(Webid);

  }
  void LoginChanged(bool loggedin)
  {
      IsLoggedIn = loggedin;
      StateHasChanged();
  }
  void ShowError(string error)
  {
      Errors = error;
      HasErrors = true;
  }
}